<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <h1> {{ title }} </h1> -->
      
      <hr/>
      <!-- <app-server></app-server> -->
      <!-- <app-servers></app-servers> -->
      <!-- <app-tugas></app-tugas> -->
      <!-- <app-servers></app-servers> -->
      <!-- <div app-servers></div> -->
      <!-- <div class="app-server"></div> -->
      <!-- <app-tugas3></app-tugas3> -->
      <!-- <app-week5></app-week5> -->
      <app-kuis1></app-kuis1>
      
    </div>
  </div>
</div>

